name: macOS SSHX 6H Session

on:
  workflow_dispatch:

jobs:
  sshx-session:
    runs-on: macos-latest
    timeout-minutes: 360

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run SSHX and Keep Alive
        run: |
          curl -sSf https://sshx.io/get | sh -s run &
          sleep 6h
